@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");

html{
  cursor: url("/images/cursor2.png") 16 16, auto;
  
}
body {

  margin: 0;
  font-family: "Montserrat", sans-serif;
  background: #000000;
  --gap: 5em;
  --line: 1px;
  --color: rgba(255, 255, 255, 0.277);
  background-image: linear-gradient(
      -90deg,
      transparent calc(var(--gap) - var(--line)),
      var(--color) calc(var(--gap) - var(--line) + 1px),
      var(--color) var(--gap)
    ),
    linear-gradient(
      0deg,
      transparent calc(var(--gap) - var(--line)),
      var(--color) calc(var(--gap) - var(--line) + 1px),
      var(--color) var(--gap)
    );
  background-size: var(--gap) var(--gap);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  animation: backgroundAnimation 3s infinite; /* Animation name, duration, and repetition */
}


::-webkit-scrollbar{
  width: .6rem;
  cursor: pointer;
}
::-webkit-scrollbar-thumb{
  background-color: var(--text);
  padding: 10px;
  border-radius: 5px;
}
::-webkit-scrollbar-track{
  background-color: #68d8ef50;
}
/* ::-webkit-scrollbar-button {
  background-color: #161515; 
  border-radius: 50px; 
} */



:root {
  --text: #dec0d9;
  --background: #6666a9;
  --primary: #12104dbb;
  --secondary: #6560c3;
  --accent: #4d4c6b;
}
.header {
  margin-top: 1rem;
  margin-right: 3rem;
  margin-left: 3rem;
  border-radius: 300px;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  padding: 2px 0px;
  background-color: rgba(170, 169, 169, 0.54);
  backdrop-filter: blur(5px); /* Add this line for background blur */
  -webkit-backdrop-filter: blur(10px); /* Add this line for background blur in Safari */
  position:sticky;
  top: 1rem; /* Sticks to the top of the viewport */
  z-index: 1;
}
.nav-link {
  border-radius: 50px;
  background-color: var(--text);
  padding: 0.4rem 0.9rem;
  color: rgba(0, 0, 0, 0.758); /* Inherit color from the parent */
  text-decoration: none; /* Remove underline */
}

.nav-link.active {
  background-color: var(--primary);
  color: whitesmoke; /* Change to your desired active color */
  border: 1px rgb(155, 104, 206) solid;
  box-shadow: 0px 0px 10px rgb(111, 62, 184);
}
.logout-button {
  border-radius: 50px;
  background-color: var(--text);
  padding: 0.4rem 0.9rem;
  color: rgba(0, 0, 0, 0.758); /* Inherit color from the parent */
  text-decoration: none; /* Remove underline */
}
.profile-link {
  border-radius: 50px;
  background-color: transparent;
  position: absolute;
  align-self: center;
  top: 0.5rem;
  padding-right: 2rem;
  padding-bottom: 1rem;

  color: inherit; /* Inherit color from the parent */
  text-decoration: none; /* Remove underline */
}
.profile-link .profile-logo {
  margin-top: .4rem;
  width: 2.3rem; /* Adjust size as needed */
  position: relative;
  border-radius: 50%;
}

/* Add any other styles you need for your header elements */
.header-elements {
  list-style-type: none; /* Remove default list styling */
  padding: 0; /* Remove default padding */
  padding-right: 3rem;
}

.header-elements .fields {
  margin-right: 15px; /* Add some spacing between the items */
}
.hero {
  display: flex;
  margin-top: 10%;
  margin-left: 50%;
  margin-bottom: 0px;
}
.intro > h1 {
  margin-bottom: 1rem;
  color: wheat;
  font-family: RobotoMono;
  font-size: 4rem;
  margin: 0;
  font-stretch: condensed;
  text-shadow: wheat;
}
.intro > h1 span {
  /** TEXT GRADIENT */
  color: #c686b1;
  background-image: -webkit-linear-gradient(
    45deg,
    #c686b1 23%,
    #edb13f 72%,
    #b87f99 98%,
    #5e13e5 88%
  );
  background-clip: text;
  -webkit-background-clip: text;
  text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
}

.intro > h3 {
  line-height: 30px;
  font-family: RobotoMono;
  font-size: 1.4rem;
  font-weight: 800;
  color: #c57180;
  background-image: -webkit-linear-gradient(
    45deg,
    #c57180 3%,
    #f6d27d 82%,
    #293250 31%,
    #a92fca 53%
  );
  background-clip: text;
  -webkit-background-clip: text;
  text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
}
.btn-shop {
  width: auto;
  cursor: pointer;
  font-size: 1.2rem;
  background-color: var(--accent);
  padding: 10px 10px;
  outline: 0;
  border: 0;
  border-radius: 20px;
}
.btn-shop:hover {
  color: wheat;
  background-color: grey;
  box-shadow: 10px 10px 10px wheat;
}
.intro {
  text-align: right;
  width: 70%;
}
.flex {
  display: flex;
}
.logo {
  filter: brightness(1) invert(1); /* Example of using filter to invert logo color based on background */
  max-width: 100px;
}
.autoshow {
  animation: animationShow both;
  animation-timeline: view(70% 0%);
}
@keyframes animationShow {
  from {
    opacity: 0;
    transform: translateY(200px) scale(0.3);
  }
  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

#container3D canvas {
  background-color: #0a092f00;
  filter: drop-shadow(0 0 0.2rem var(--text));
  margin-top: 100px;
  width: 70vw !important;
  height: 70vh !important;
  position: absolute;
  top: -10px;
  left: -50px;
}
