
  .btn{
    cursor: pointer;
    padding: 0.5rem 15px;
    outline: 0;
    border: 0;
    font-size: 1rem;
    border-radius: 5px;
    color:rgb(123, 159, 251);
    background-color: black;
    z-index: 1;
    transition: all 0.3s linear;
  }
  .btn:hover{
background-color: rgba(184, 185, 249, 0.527);
color: black;
  }