
html{
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
    scroll-snap-type: y mandatory;
    ::selection{
        background-color: #b262eb7c;
        color: #000000;}
}
body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
